@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  background-color: #181d1f;
}

.config-logo {
  position: absolute;
  left: 50vw;
  top: 50vh;
  width: 96px;
  transform: translate(-50%, -50%);
}
