@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  user-select: none;
}

.extension-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #181d1f;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(21, 25, 26, 0.75);
}

.header-logo {
  height: 80px;
  padding: 20px;
  box-sizing: border-box;
}

.event {
  padding: 10px;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}

.event-action {
  margin: 10px 0;
}

.event-image {
  max-width: 50%;
  max-height: 50%;
}

.event-name {
  width: 100%;
  margin: 10px 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
