.extension-container {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
  height: 320px;
  max-height: 70%;
  border-radius: 10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}
